#Header {
	overflow: show;
	background-color: black;
	position: fixed;
	vertical-align: middle;
	color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 4%;
	display: flex;
	/*white-space: nowrap;
	overflow-x: scroll;*/
}

#map,#x_map {
	height: 96%;
	width: 100%;
	top: 4%;
	left: 0;
	position: fixed;
	background-color: black;
	color: white;
	font-family: "Lucida Console",monospace;
	line-height: 0.65em;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
}

#MapTile {
	display: inline-block;
	cursor: default;
	background-color: black;
	/*border-color: white;
	border: solid;
	border-width: 1px;
	/*transform: scale(1, 0.65);*/
}

#cityBuildable {
	color: 84ff00;
	cursor: pointer;
}

#cityUnbuildable {
	color: d90000;
}

.cityBuildTarget:hover, .cityBuildSelected {
	margin: -2px -2px -2px -2px;
	border: 2px solid;
	border-color: red;
}

#MapTile.expandable:hover {
	cursor: pointer;
	-webkit-filter: invert(100%);
}

#subMapBox {
	display: none;
	position: absolute;
	left: 25%;
	border-color: white;
	border: solid;
	border-width: 2px;
	padding: 5px;
}

#subMapRow {
	display: inline-block;
	white-space: nowrap;
}

#subMapDisplay {
	display: inline-block;
}

#subMapSector{
	display: inline-block;
}

#lakewater {
	color: 7fffd4;
}

#seawater {
	color: 0000ff;
}

#coastland {
	color: white;
}

#inland {
	color: black;
}

/*PhysicalMap*/
#beachS {
	color: f4eaa6;
}
#plains {
	color: 8faf72;
}
#mountain {
	color: 8c8c8c;
}
#tundra {
	color: 63734b;
}
#ice {
	color: ffffff;
}


#city {
	color: cbff54;
	/*background-color: 606060;*/
}
#suburb {
	color: 95c91a;
}
#noCity {
	color: 969696;
}
#selectedCity {
	color: f5a142;
}
#selectedSuburb {
	color: c78b48;
}
#selectedOtherOwned{
	color: 825c31;
}
#cityNameBox{
	display: none;
	border: solid;
	border-width: 2px;
	padding: 5px;
	position: fixed;
	top: 90%;
	left: 5%;
	height: auto;
	width: auto;
	color: white;
	background-color: black;
	z-index: 1;
	line-height: 1em;
	text-align: center;
	font-family: "Lucida Console",monospace;
}

#cityCreateBox{
	display: none;
	border: solid;
	border-width: 2px;
	padding: 5px;
	position: fixed;
	bottom: 0%;
	right: 0%;
	height: 94%;
	width: 45%;
	color: white;
	background-color: black;
	z-index: 1;
	line-height: 1em;
	text-align: center;
	font-family: "Lucida Console",monospace;
}

#cityCreateBox .C_B_Seg {
	position: relative;
	width: 100%;
	min-height: 5%;
	text-align: left;
}
#cityCreateBox #C_moveButton{
	position: relative;
	left: 1%;
	width: 5%;
	border: 2px solid;
	background-color: black;
}
#cityCreateBox #C_moveButton:hover,#C_Confirm:hover,#C_Cancel:hover{
	color: red;
	background-color: white;
	cursor: pointer;
}
#cityCreateBox #C_Name {
	position: relative;
	width: 80%;
}
#cityCreateBox #C_Own {
	position: relative;
	width: 80%;
}
#cityCreateBox .C_Coord {
	position: relative;
	width: 18%;
}
#cityCreateBox #C_ConfCanc {
	white-space: nowrap;
	text-align: center;
}
#cityCreateBox #C_Confirm {
	padding: 3px;
	border: 2px solid;
	width: 48%;
	position: relative;
	float: left;
}
#cityCreateBox #C_Cancel {
	padding: 3px;
	border: 2px solid;
	width: 48%;
	position: relative;
	float: right;
}
#cityCreateBox #C_ErrorMsg {
	color: ff0000;
}

#mapLoadBox {
	position: absolute;
	border: 2px solid;
	width: 50%;
	height: 25%;
	left: 25%;
	top: 37.5%;
	display: block;
	z-index: 3;
	border-color: white;
	background-color: black;
	color: white;
	text-align: center;
	font-family: "Lucida Console",monospace;
}

#countryCreateBox {
	position: absolute;
	border: 2px solid;
	width: 50%;
	height: 25%;
	left: 25%;
	top: 37.5%;
	display: none;
	z-index: 3;
	border-color: white;
	background-color: black;
	color: white;
	text-align: center;
	font-family: "Lucida Console",monospace;
}

#dev0 {/*development map*/
	color: 160000;
}
#dev1 {
	color: 380000;
}
#dev2 {
	color: 540f00;
}
#dev3 {
	color: 752300;
}
#dev4 {
	color: 933d00;
}
#dev5 {
	color: aa5b00;
}
#dev6 {
	color: ba7200;
}
#dev7 {
	color: c18700;
}
#dev8 {
	color: d8a600;
}
#dev9 {
	color: e0c600;
}
#dev10 {
	color: fff600;
}

img {
	width: 100%;
	height: 100%;
}

/*plan number of countries to allow*/

.USA {
	color: 6ab0d1;
}

.China {
	color: e52481;
}

.Canada {
	color: 7ea55e;
}

.Mexico {
	color: edd06a;
}

.Greenland {
	color: ffd6d6;
}

.Russia {
	color: ffaa00;
}

.Norway {
	color: a50000;
}

.name {
	color: ffffff;
}

.control{
	float: left;
	display: block;
	color: white;
	background-color: black;
	border-width: 3px;
	border-style: solid;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	width: 1.5%;
}

.display {
	position: relative;
	float: left;
	display: block;
	color: white;
	background-color: black;
	border-width: 3px;
	padding: 5px;
	border-style: solid;
	vertical-align: middle;
	cursor: pointer;
}

.control:hover, .display:hover {
	color: yellow;
}

.active, .nofunction {
	color: gray;
}

.troops {
	color: red;
}